# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    - name: Install tox
      run: pip install tox
    - name: Style check
      run : tox -e style

  migrations:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    - name: dependencies
      working-directory: testapp
      run: pip install -r requirements.txt
    - name: migration checks
      working-directory: testapp
      run : ./manage.py makemigrations --check

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.11]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: pip install tox
    - name: Toxit
      run: tox -e py -v
    
    - name: Surface tests
      run: |
        curl -X POST https://api.github.com/repos/gsilvapt/surface/.github/workflows/run_tests.yml/dispatches \
        -H "Authorization: token ${SURF_BOT_PAT}
        --data '{"client_payload": {"repository": "$GITHUB_REPOSITORY", "ref": "'"$GITHUB_REF"'" }}'

    - name: coverage xml
      run: .tox/py/bin/coverage xml
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
